@charset "utf-8";

/*====================NORMALIZE=============================*/
body, h1, h2, h3, h4, h5, h6, ul, li, em, strong, pre, code {
padding: 0; 
margin: 0; 
line-height: 1.5em;
font-size: 100%;
font-weight: normal;
font-style: normal;
}
table {
font-size: inherit;
font: 100%;
}
ul {
list-style: none;
}
img, fieldset {
border: 0;
}
p {
margin: 0 auto 1em;
}
input, button, select{
font: inherit;
color: inherit;
margin: 0;
padding: 0;
}
/*====================END NORMALIZE=============================*/


